body{
    background-color: darkslategrey;
}
.form{
    text-align: center;
    border: 2px solid black;
    background-color: slategray;
}

.post{
    border: 2px solid black;
    background-color: slategray;
}

.footer{
    background-color: lightgray;
    width: 100%;
    text-align: center;
    display:block;
}

h3{
    text-align: center;
}

h1{
    text-align: center;
}

.delete{
    text-align: center;
    margin: 0 auto;
}